* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("./assets/pexels-cameron-casey-1157255.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: fit-content;
}

header .navbar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-end;
    padding: 15px;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: -57px; 
    background-color: aqua;
}
header .logo{
    font-size: larger;
    padding: 15px;
    margin-left: 15px;
}


.navbar a {
    margin-right: 25px;
    padding: 6px;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 15%;
}
.login-container h3{
    font-size: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.login-container input{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 10px;
    margin: 10px;
}

form .box{
    width: 8cm;
}
